$default: #436372;
$bgc-nav: #fcd7b6;
$white: #fff;
$footer-link: #7b7b7b;
$footer-title: #1f2044;
$btn-col: #a3bbc8; 
$blue: #234969;

%quicksand-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%quicksand-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%myriad-400 {
  font-family: 'MyriadProRegular', sans-serif;
  font-weight: 400;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}