@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0 45px;
    &__items,
    &__users {
      display: flex;
      justify-content: flex-end;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__link {
      padding-bottom: 5px;
      @extend %rubik-400;
      transition: border-bottom 0.5s ease, color 0.4s ease;
      &:hover {
      color: $bgc-nav;
      border-bottom: 1px solid $bgc-nav;
      }
    }
    &__users {
      width: 100%;
      max-width: 315px;
    }
    &__user {
      position: relative;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      border: none;
    }
    &__num {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 10px;
      width: 15px;
      height: 15px;
      @extend %quicksand-400;
      font-size: 10px;
      border-radius: 50%;
      background-color: $white;
    }
    &__user--search {
      margin-right: 20px;
      background-image: url('../images/header/search_icon.svg');
      background-color: #edf1f4;
      border-radius: 50%;
      transition: background-color 0.3s linear;
      &:hover {
        background-color: $bgc-nav;
      }
    }
    &__user--fav,
    &__user--basket {
      background-color: $bgc-nav;
    }
    &__user--fav {
      background-image: url('../images/header/favorites_icon.svg');
      padding: 12px 45px 12px 41px;
      border-radius: 30px 0 0 30px;
      border-right: 1px solid $bgc-nav;
      transition: background-color 0.3s linear;
    }
    &__user--basket {
      margin-right: 20px;
      background-image: url('../images/header/basket_icon.svg');
      padding: 12px 41px 12px 45px;
      border-radius: 0 30px 30px 0;
      transition: background-color 0.3s linear;
    }
    &__user--fav:hover,
    &__user--basket:hover {
      background-color: $btn-col;
    }
    &__user--option {
      background-image: url('../images/header/options_icon.svg');
      background-color: $btn-col;
      border-radius: 50%;
      transition: background-color 0.3s linear;
      &:hover {
        background-color: $bgc-nav;
      }
    }
}

.footer {
  @extend %quicksand-400;
  font-size: 14px;
  color: $footer-link;
  &__items,
  .disclaimer {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    padding-bottom: 75px;
    border-bottom: 1px solid #a3bbc8;
  }
  &__logo {
    display: block;
  }
  &__logo,
  &__title {
    margin-bottom: 28px;
  }
  &__title {
    text-transform: uppercase;
    color: $footer-title;
  }
  &__link {
    transition: color 0.3s ease;
    &:hover {
      color: $bgc-nav;
    }
  }
  &__element:not(:last-child) {
      margin-bottom: 20px;
  }

  .address {
    &__item:not(:last-child) {
    margin-bottom: 20px;
    }
    &__item p:not(:last-child){
    padding-bottom: 15px;
    }
    &__link {
    transition: color 0.3s ease;
    &:hover {
      color: $bgc-nav;
      }
    }
  }

  .disclaimer {
    padding: 37px 0 42px;
    &__items {
      display: flex;
    }
    &__item:not(:last-child) {
      padding: 0 15px;
      border-right: 1px solid $footer-link;
    }
    &__item:last-child {
        padding-left: 15px;
    }
  }

  &__item p {
    width: 100%;
    max-width: 240px;
  }

  &__input {
    margin-right: -5px;
    padding: 15px;
    background-color: #fef7f0;
    border: 0;
    &::placeholder {
    @extend %quicksand-400;
    font-size: 12px;
    color: $blue;
    }
  }
 
  &__btn {
    margin-top: 40px;
    padding: 15px 17px;
    border: 0;
    color: $white;
    background-color: #a3bbc8;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $blue;
    }
  }
}

.slider {
  &__inner {
    padding: 100px 0 85px;
    background-color: $slider-bg;
  }
  &__items,
  .slick-dots {
    display: flex!important;/*не нашла файл с написанным inline-block свойством*/ 
    align-items: center;
    justify-content: center;
  }
  &__content {
    width: 100%;
    max-width: 405px;
    margin-right: 120px;
  }
  &__title {
    margin-bottom: 45px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title;
  }
  &__content p {
    @extend %rubik-400;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.4;
  }
  &__link {
    display: block;
    max-width: 200px;
    position: relative;
    padding: 20px;
    background-color: #a3bbc8;
    color: $white;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $blue;
    }
  }

  &__link::after {
    position: absolute;
    content: url("../images/header__slider/arrow-right.png");
    right: 20px;
  }
  &__img {
    background-image: url('../images/header__slider/Ellipse_header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 635px;
    display: flex;
    align-items: center;
  }
  &__picture {
    margin-right: 60px;
  }

  .slick-dots li:not(:last-child) {
      margin-right: 12px;
    }
  .slick-dots button {
    border: 0;
    background-color: #fde3cc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s linear;
  }
  .slick-active button {
    background-color: $white;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef7f0;
    &__items {     
      width: 100%;
      max-width: 600px;
      min-height: 170px;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        border-right: 1px solid #e8e4df;
      }
    }
    &__item {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
    &__item p {
      max-width: 300px;
      padding-left: 80px;
      margin-top: 10px;//не смогла задать span mar-bot
      color: #585858;
      line-height: 1.4;
      @extend %quicksand-400;
    }
    &__span {
      position: relative;
      padding-left: 80px;
      font-size: 18px;
      @extend %quicksand-700;
      color: #414141;
    }
    &__span::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 50px;
      height: 50px;
      left: 0;
    }
    &__span--supp::before {
      background-image: url('../images/info/Shape 1.png');
    }
    &__span--del::before {
      background-image: url('../images/info/deluvery.png');
    }
    &__span--pay::before {
      background-image: url('../images/info/card.png');
    }
  }
}