.articles {
  min-height: 872px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    align-items: flex-end;

    @include desktop-lg {
      align-items: center;
    }

    &--next {
      position: relative;
      padding-right: 25px;
      color: #262626;
      transition: color 0.3s ease;
      @extend %quicksand-700;

      &:hover,
      &:hover::after {
        color: $bgc-nav;
      }

      &::after {
        content: ">";
        position: absolute;
        right: 0;
        width: 17px;
        height: 17px;
        color: #262626;
      }
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 0;
  }

  &__content {
    margin-bottom: -171px;

    @include desktop-md {
      margin-bottom: 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;

    @include desktop-lg {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop-md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop-xs {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    margin: 0 auto;

    @include desktop-xs {
      margin: 0;
    }
  }
}

.aricles-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: $p-color;

  &__wrap {
    position: relative;
  }

  &__img {
    width: 100%;
    max-width: 370px;
    height: 250px;
    border-radius: 5px 5px 0 0;

    @include desktop-xs {
      max-width: none;
    }
  }

  &__goto {
    position: absolute;
    width: 100%;
    max-width: 103px;
    left: 28px;
    bottom: -13px;
    padding: 5px 31px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    color: $white;
    background-color: $btn-col;
    transition: background-color 0.3s linear;

    @include desktop-md {
      left: 12px;
      max-width: 90px;
      padding: 5px 20px;
    }

    &:hover {
      background-color: $footer-title;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 33px 31px 18px;
    background-color: $white;
    min-height: 170px; //сьезжает третий блок без высоты :((

    @include desktop-md {
      padding: 21px 10px 18px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__text {
    font-size: 18px;
    @extend %quicksand-500;
    padding-bottom: 15px;
    transition: color 0.3s ease;

    @include desktop-md {
      font-size: 16px;
      padding-bottom: 10px;
    }

    @include desktop-xs {
      font-size: 24px;
    }

    @include desktop-xs {
      font-size: 18px;
    }

    &:hover {
      color: $btn-col;
    }
  }

  &__data {
    display: flex;
    padding-top: 14px;
    border-top: 1px solid #e0e0e0;
    @extend %rubik-400;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: auto;

    @include desktop-md {
      justify-content: space-between;
    }
  }

  &__time {
    position: relative;
    padding-left: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    min-height: 20px;

    @include desktop-md {
      margin-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/article/calendar.svg");
      left: 0;
      top: 0;
      width: 17px;
      height: 17px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__admin {
    position: relative;
    display: flex;
    padding-left: 20px;
    align-items: center;
    min-height: 15px;
    transition: color 0.3s ease;

    &:hover {
      color: $btn-col;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/article/user-icon.svg");
      left: 0;
      top: 2;
      width: 14px;
      height: 15px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.carousel {
  background-color: $bg-carousel;
  padding: 264px 0 67px;

  @include desktop-md {
      display: none;
    }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 100px;
  }

  &__link {
    height: 85px;
  }

  &__img {
    margin: auto;
  }
}
