.footer {
  padding-top: 100px;
  @extend %quicksand-400;
  font-size: 14px;
  color: $footer-link;
  font-style: normal;

  @include desktop-lg {
      padding-top: 50px;
    }

  @include desktop-md{
      padding-top: 0;
    }

  &__wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px 283px;
    padding-bottom: 75px;
    border-bottom: 1px solid #a3bbc8;

    @include desktop-lg {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }

    @include desktop-md {
      grid-template-columns: repeat(2, 1fr);
      padding: 75px 0 50px;
    }

    @include _597 {
      grid-template-columns: 1fr;
      padding: 50px 0 30px;
    }
  }

  &__logo {
    display: block;
    margin: -17px 0 15px;

    @include desktop-lg {
      margin: 0 0 15px;
    }
  }

  &__title {
    margin-bottom: 22px;
  }

  &__title {
    text-transform: uppercase;
    color: $footer-title;
  }

  &__link {
    transition: color 0.3s ease;

    &:hover {
      color: $bgc-nav;
    }
  }

  &__p {
    margin-bottom: 42px;

    @include desktop-lg {
      margin-bottom: 20px;
    }
  }

  &__element:not(:last-child) {
    margin-bottom: 12px;
  }
}

.address {
  line-height: 1.8;

  &__items {
    font-style: normal;
  }

  &__item {
    max-width: 190px;
  }

  &__span {
    text-transform: uppercase;
    font-style: normal;
  }

  &__item:not(:last-child) {
    margin-bottom: 7px;
  }

  &__item p:not(:last-child) {
    padding-bottom: 15px;
  }

  &__link {
    transition: color 0.3s ease;

    &:hover {
      color: $bgc-nav;
    }
  }
}

.form__input {
  margin-right: -5px;
  padding: 9px 11px;
  background-color: #fef7f0;
  border: 0;

  &::placeholder {
    @extend %quicksand-400;
    font-size: 12px;
    color: $blue;
  }
}

.form__btn {
  padding: 9px 17px;
  border: 0;
  color: $white;
  background-color: #a3bbc8;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $blue;
  }
}

.disclaimer {
  display: flex;
  justify-content: space-between;
  padding: 39px 0;
  font-size: 14px;
  @extend %rubik-400;
  color: $footer-link;

  @include desktop-xs {
    padding: 25px 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    p {
      order: 2;
    }
  }

  &__items {
    display: flex;

    @include desktop-xs {
      order: 1;
      margin-bottom: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-right: 15px;
      border-right: 1px solid $footer-link;
      margin-right: 15px;
    }
  }
}
