.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 47px 0 48px;

  @include desktop-lg {
    padding: 25px 0;
  }

  @include desktop-md {
    padding: 20px 0;
  }

  &__items,
  &__users {
    display: flex;
  }

  &__users {
    width: 100%;
    max-width: 315px;

    @include desktop-lg {
      max-width: 220px;
    }

    @include desktop-md {
      margin-right: 50px;
    }

    @include desktop-xs {
      margin-right: 20px;
    }

    @include desktop-xxs {
      display: none;
    }
  }

  &__items {
    width: 100%;
    max-width: 635px;
    justify-content: flex-end;

    @include desktop-lg {
      justify-content: center;
    }

    @include desktop-md {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      max-width: none;
      height: 100vh;
      padding-left: 0;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      transition: transform 0.5s linear;
      transform: translateX(-110%);
      background-color: rgba($bgc-nav, 0.9);
      color: $default;

      &.active {
        transform: translateX(0);
        transition: transform 0.5s linear;
      }
    }
  }

  &__item {
    @include desktop-md {
      width: 100%;
      display: flex;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @include desktop-md {
      margin-right: 0;
    }
  }

  &__link {
    @extend %rubik-400;
    transition: color 0.4s ease;

    &:hover {
      color: $bgc-nav;
    }

    @include desktop-md {
      padding: 20px 15px;
      width: 100%;
      text-align: center;
      font-size: 28px;

      &:hover {
        color: $default;
      }
    }

    @include desktop-xs {
      padding: 10px 15px;
      font-size: 20px;
    }
  }

  &__user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    transition: background-color 0.3s linear, fill 0.3s linear;

    &--search,
    &--option {
      width: 50px;
      height: 50px;
      background-color: #edf1f4;
      border-radius: 50%;

      @include desktop-lg {
        width: 40px;
        height: 40px;
      }

      @include desktop-xs {
        width: 35px;
        height: 35px;
      }
    }

    &--search {
      margin-right: 20px;

      @include desktop-lg {
        margin-right: 10px;
      }
    }

    &--fav,
    &--basket {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 88px;
      min-height: 50px;
      background-color: $bgc-nav;

      @include desktop-lg {
        max-width: 60px;
        min-height: 40px;
      }

      @include desktop-xs {
        max-width: 50px;
        min-height: 35px;
      }
    }

    &--fav {
      border-radius: 30px 0 0 30px;
      border-right: 1px solid $bgc-nav;
    }

    &--basket {
      margin-right: 20px;
      border-radius: 0 30px 30px 0;

      @include desktop-lg {
        margin-right: 10px;
      }
    }

    &--fav:hover,
    &--basket:hover {
      background-color: $btn-col;
      fill: $white;
    }

    &--option:hover,
    &--search:hover {
      background-color: $bgc-nav;
      fill: $white;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $title;

    &--option {
      fill: $white;
    }

    @include desktop-lg {
      width: 15px;
      height: 15px;
    }
  }

  &__num {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 25%;
    height: 15px;
    padding: 0 4px;
    @extend %quicksand-400;
    font-size: 10px;
    border-radius: 10px;
    background-color: $white;

    @include desktop-lg {
      right: 20%;
      top: 6px;
    }

    @include desktop-md {
      top: 3px;
    }
  }
}

.burger {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $default;
  border-radius: 50%;
  z-index: 20;
  opacity: 0;

  @include desktop-md {
    opacity: 1;
  }

  &__part {
    position: absolute;
    content: "";
    width: 65%;
    height: 2px;
    background-color: $white;
    transition: transform 0.3s linear;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 65%;
    height: 2px;
    background-color: $white;
    transition: background-color 0.3s linear, transform 0.3s linear;
  }

  &::before {
    top: 12px;
  }

  &::after {
    bottom: 12px;
  }

  &.active::before {
    background-color: transparent;
  }

  &.active &__part {
    transform: rotate(45deg);
  }

  &.active::after {
    bottom: 17px;
    transform: rotate(-45deg);
  }
}

.logo {
  max-width: 150px;
  min-height: 50px;

  @include desktop-lg {
    max-width: 140px;
    min-height: 35px;
  }
}
