.slider {
  &__inner {
    position: relative;
    min-height: 820px;
    padding-top: 100px;
    background-color: $slider-bg;

    @include desktop-lg {
      min-height: 560px;
      padding: 50px 0;
    }

    @include desktop-xs {
      min-height: 450px;
    }

    @include desktop-xxs {
      padding: 0;
    }
  }

  &__wrap,
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrap {
    @include desktop-xs {
      flex-direction: column;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-48%);

    @include desktop-xxs {
      bottom: 25px;
    }
  }

  &__content {
    width: 100%;
    max-width: 501px;
    min-height: 375px;

    @include desktop-md {
      max-width: 340px;
    }

    @include desktop-xs {
      order: 2;
      width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }

  &__title {
    @extend %quicksand-700;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 25px;

    @include desktop-lg {
      font-size: 52px;
    }

    @include desktop-xs {
      font-size: 36px;
    }
  }

  &__content p {
    @extend %rubik-400;
    max-width: 356px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 1.6;

    @include desktop-xxs {
      max-width: 320px;
    }

    @include desktop-xxs {
      margin: 0 auto 20px;
      max-width: 270px;
      font-size: 16px;
    }
  }

  &__link {
    position: relative;
    background-color: $btn-col;
    color: $white;

    @include desktop-xs {
      margin: 0 auto;
    }

    &:hover {
      background-color: $blue;
    }
  }

  &__link::after {
    position: absolute;
    content: url("../images/header__slider/arrow-right.png");
    right: 20px;

    @include desktop-xs {
      right: 10px;
    }
  }

  &__img {
    background-image: url("../images/header__slider/Ellipse_header.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 670px;
    min-height: 607px;
    display: flex;
    align-items: center;

    @include desktop-lg {
      max-width: 500px;
      min-height: 540px;
    }

    @include desktop-xs {
      max-width: 370px;
      min-height: 350px;
    }

    @include desktop-xs {
      order: 1;
      max-width: 300px;
      min-height: 220px;
    }

    @include desktop-xs {
      margin: 0 auto;
      background-image: none;
    }
  }

  &__picture {
    margin-right: 60px;

    @include desktop-lg {
      margin-right: 0;
    }
  }

  .slick-dots {
    li:not(:last-child) {
      margin-right: 12px;
    }

    button {
      border: 0;
      background-color: #fde3cc;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      transition: background-color 0.3s linear;

      @include desktop-xxs {
        width: 25px;
        height: 25px;
        font-size: 12px;
      }

      &:hover {
        background-color: $white;
      }
    }
  }

  .slick-active button {
    background-color: $white;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-carousel;

  @include desktop-xs {
    flex-direction: column;
  }

  &__items {
    width: 100%;
    max-width: 600px;
    min-height: 170px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;

      @include desktop-xs {
        border-right: none;
        border-bottom: 1px solid #e8e4df;
      }
    }

    @include desktop-lg {
      min-height: 140px;
    }

    @include desktop-md {
      min-height: 100px;
    }

    @include desktop-xs {
      justify-content: center;
      padding: 30px 0;
      width: 100%;
      max-width: none;
    }
  }

  &__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    @include desktop-md {
      max-width: 250px;
    }

    @include desktop-xs {
      width: 100%;
      max-width: none;
      margin: 0;
    }
  }

  &__item p {
    max-width: 300px;
    padding-left: 77px;
    margin-top: 10px;
    color: #585858;
    line-height: 1.6;
    @extend %quicksand-400;

    @include desktop-md {
      margin-top: 0;
      padding-left: 50px;
      line-height: 1.4;
    }

    @include desktop-xs {
      width: 100%;
      padding: 0;
      text-align: center;
      max-width: none;
    }
  }

  &__span {
    position: relative;
    padding-left: 80px;
    font-size: 18px;
    @extend %rubik-700;
    color: #414141;

    @include desktop-md {
      padding-left: 50px;
      font-size: 16px;
    }

    @include desktop-xs {
      width: 100%;
      padding: 0;
      text-align: center;
      display: block;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    &--supp::before {
      background-image: url("../images/info/Shape 1.png");
    }

    &--del::before {
      background-image: url("../images/info/deluvery.png");
    }

    &--pay::before {
      background-image: url("../images/info/card.png");
    }
  }

  &__span::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    left: 0;

    @include desktop-md {
      width: 35px;
      height: 35px;
      top: 10px;
      left: 5px;
    }

    @include desktop-xs {
      left: 50%;
      transform: translateX(-50%);
      top: -40px;
    }
  }
}
