.slider {
  &__inner {
    position: relative;
    min-height: 820px;
    padding-top: 100px;
    background-color: $slider-bg;

    @include desktop-lg {
      min-height: 560px;
      padding: 50px 0;
    }

    @include desktop-xs {
      min-height: 450px;
    }
  }

  &__wrap,
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop-xs {
      justify-content: left;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-48%);

    @include desktop-xxs {
      bottom: 25px;
    }
  }

  &__content {
    width: 100%;
    max-width: 501px;
    min-height: 375px;

    @include desktop-md {
      max-width: 310px;
    }

    @include desktop-xs {
      width: 100%;
      margin-left: 30px;
    }

    @include desktop-xxs {
      width: 100%;
      margin-left: 15px;
    }
  }

  &__title {
    @extend %quicksand-700;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title;

    @include desktop-lg {
      font-size: 52px;
    }

    @include desktop-xxs {
      font-size: 36px;
    }
  }

  &__content p {
    @extend %rubik-400;
    max-width: 356px;
    margin: 25px 0 37px;
    font-size: 18px;
    line-height: 1.6;

    @include desktop-xxs {
      max-width: 270px;
      font-size: 16px;
    }
  }

  &__link {
    position: relative;
    background-color: #a3bbc8;
    color: $white;

    &:hover {
      background-color: $blue;
    }
  }

  &__link::after {
    position: absolute;
    content: url("../images/header__slider/arrow-right.png");
    right: 20px;
  }

  &__img {
    background-image: url("../images/header__slider/Ellipse_header.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 670px;
    min-height: 607px;
    display: flex;
    align-items: center;

    @include desktop-lg {
      max-width: 500px;
      min-height: 540px;
    }

    @include desktop-xs {
      display: none;
    }
  }

  &__picture {
    margin-right: 60px;

    @include desktop-lg {
      margin-right: 0;
    }
  }

  .slick-dots {
    li:not(:last-child) {
      margin-right: 12px;
    }

    button {
      border: 0;
      background-color: #fde3cc;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: $white;
      }
    }
  }

  .slick-active button {
    background-color: $white;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef7f0;

  @include desktop-xs {
    flex-direction: column;
  }

  &__items {
    width: 100%;
    max-width: 600px;
    min-height: 170px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;

      @include desktop-xs {
        border-right: none;
        border-bottom: 1px solid #e8e4df;
      }
    }

    @include desktop-lg {
      min-height: 140px;
    }

    @include desktop-md {
      min-height: 100px;
    }
  }

  &__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    @include desktop-md {
      max-width: 250px;
    }

    @include desktop-xs {
      width: 100%;
      margin: 0;
    }
  }

  &__item p {
    max-width: 300px;
    padding-left: 77px;
    margin-top: 10px;
    color: #585858;
    line-height: 1.6;
    @extend %quicksand-400;

    @include desktop-md {
      margin-top: 0;
      padding-left: 50px;
      line-height: 1.4;
    }

    @include desktop-xs {
      width: 100vw;
    }

    @include desktop-xxs {
      padding-left: 45px;
      max-width: 270px;
      line-height: 1.1;
      font-size: 14px;
    }
  }

  &__span {
    position: relative;
    padding-left: 80px;
    font-size: 18px;
    @extend %rubik-700;
    color: #414141;

    @include desktop-md {
      padding-left: 50px;
      font-size: 16px;  
    }

    @include desktop-xxs {
      padding-left: 45px;
    }

    &--supp::before {
      background-image: url("../images/info/Shape 1.png");
    }

    &--del::before {
      background-image: url("../images/info/deluvery.png");
    }

    &--pay::before {
      background-image: url("../images/info/card.png");
    }
  }

  &__span::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    left: 0;

    @include desktop-md {
      width: 35px;
      height: 35px;
      top: 10px;
      left: 5px;
    }
  }
}
